<section id="about" style="background-color: #e9eae3" class="text-center">
    <!--
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img src="img/map.jpg" class="img-responsive" alt="">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded"><br><br><br><br><br><br></p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
    -->
    <h2 style="color: #7f5037;">오시는 길</h2>
    <p><br></p>
    <div class="container text-center mw-100">
            <img src="img/map.jpg" class="img-responsive mw-100" alt="">
    </div>
    <p style="color: #7f5037;">
        <strong>
            <br><br>
            로즈오브샤론 플라워 스튜디오
            <br>
            010-2377-2021
            <br><br><br>
            자차 이용시
            <br><br>
        </strong>
            내비에 "안양워터랜드"에 검색, 주차하시고
            <br>
            로즈오브샤론으로 걸어오시면 됩니다. (바로 옆 건물)
            <br>
            주차등록 도와드리겠습니다.
            <br><br><br>
        <strong>
            대중교통 이용시
        </strong>
            <br><br>
            안양역에서 2번 버스 타고<br>안양예술공원종점역 하차 후 도보 7분
            <br><br>
            범계역에서 2-1번 버스 타고<br>안양예술공원종점역 하차 후 도보 7분
    </p>
</section>
