<section id="about" style="background-color: #e9eae3" class="text-center">
    <!--
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img src="img/map.jpg" class="img-responsive" alt="">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded"><br><br><br><br><br><br></p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
    -->
    <h2 style="color: rgb(85, 85, 85);">오시는 길</h2>
    <div class="container text-center mw-100">
            <img src="img/map.jpg" class="img-responsive mw-100" alt="">
    </div>
    <p style="color: #7f5037;">
        <strong>
            <br><br>
            로즈오브샤론 플라워 스튜디오
            <br><br>
            경기 안양시 만안구 예술공원로 153-46 201호
            <br>
            010-2377-2021
            <br><br><br>
            자차 이용시
            <br><br>
            내비에 "안양시 만안구 석수동 825-7" 검색,<br>카페리오 옆으로 들어오시면 됩니다.
            <br><br><br>
            대중교통 이용시
            <br><br>
            안양역에서 2번 버스 타고<br>안양예술공원종점역 하차 후 도보 7분
            <br><br>
            범계역에서 2-1번 버스 타고<br>안양예술공원종점역 하차 후 도보 7분
        </strong>
    </p>
</section>
