<section id="contact">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 style="color: rgb(85, 85, 85);">잘 키우겠습니다.</h2>
                
                <p>도현이가 성장하는 과정에 축복을 담아 전달해주세요.</p>
                <p>권도현 새마을금고 9002-1994-7016-6</p>

            </div>
        </div>
        <a href="#clip" class="btn btn-primary btn-xl page-scroll" style="background-color: skyblue;" onclick="clip()">
            계좌번호 복사하기
        </a>
    </div>
</section>