<header>
    <div class="header-content align-bottom mt-0" style="background-color: #f4eddb;">
        <div class="header-content-inner align-bottom mt-0">
            <h1 style="color:skyblue;">First Birthday</h1>
            <br><br>
            <img src="img/header.jpg" class="img-circle img-responsive">
            <br><br>
            <p style="color: rgb(85, 85, 85);">
                권도현 돌잔치에 초대합니다.
                <br><br>
                2023. 03. 26 (일) 12:00
                <br>
                로즈오브샤론 플라워 스튜디오
            </p>
            <p>
                <span style="color: rgb(66, 66, 121);">아빠</span>
                <span style="color: rgb(85, 85, 85);">| 권오혁</span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span style="color: rgb(66, 66, 121);">엄마</span>
                <span style="color: rgb(85, 85, 85);">| 박다빈</span>
            </p>
            <a href="#portfolio" class="btn btn-primary btn-xl page-scroll" style="background-color: skyblue;">Gallery</a>
            &nbsp;
            <a href="#about" class="btn btn-primary btn-xl page-scroll" style="background-color: skyblue;">Location</a>
        </div>
    </div>
</header>
