<header>
    <div class="header-content align-bottom mt-0" style="background-color: #f4eddb;">
        <div class="header-content-inner align-bottom mt-0">
            <h1 style="color:skyblue;">First Birthday</h1>
            <br><br><br><br>
            <img src="img/header.jpg" class="img-circle img-responsive">
            <br><br><br><br>
            <a href="#portfolio" class="btn btn-primary btn-xl page-scroll" style="background-color: skyblue;">Gallery</a>
            <a href="#about" class="btn btn-primary btn-xl page-scroll" style="background-color: skyblue;">Location</a>
        </div>
    </div>
</header>
