<section id="services">
    <div class="container">
        <div class="row">
            <img src="img/circle.jpg" class="img-responsive center-block" width="30px" height="30px">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h2 style="color: rgb(85, 85, 85);">감사합니다.</h2>
                    <p style="color: rgb(85, 85, 85);">
                        부모라는 이름으로 도현이와 함께한지
                        <br>
                        1년이라는 시간이 지났습니다.
                        <br>
                        바쁘시더라도 저희와 함께하여 축하해주세요.
                        <br><br><br><br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <img src="img/circle.jpg" class="img-responsive center-block" width="30px" height="30px">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h2 style="color: rgb(85, 85, 85);">ABOUT</h2>
                    <p style="color: rgb(85, 85, 85);">
                        이름&nbsp;&nbsp;&nbsp;권도현
                        <br>
                        체중&nbsp;&nbsp;&nbsp;3.2kg
                        <br>
                        생일&nbsp;&nbsp;&nbsp;22. 03. 29
                        <br>
                        태명&nbsp;&nbsp;&nbsp;박다복
                        <br><br><br><br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <img src="img/circle.jpg" class="img-responsive center-block" width="30px" height="30px">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h2 style="color: rgb(85, 85, 85);">Gallery</h2>
                </div>
            </div>
        </div>
    </div>
</section>
